{% extends "base.html" %}

{% block head_content %}
    <title>Atlas</title>
{% endblock%}

{% block container %}
    <div style="margin-top: 130px;margin-left: 300px;">
        <form action="{% url "files:feed" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file"
                title="Upload excel file"
                name="excel_file"
                style="border: 1px solid black; padding: 5px;"
                required="required">
            <p>
            <input type="submit"
                value="Upload"
                style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
        </form>
    </div>
{% endblock %}